<h1>Welcome to our App</h1>

<div id = "login">
  <% if flash[:message]%>
    <%= flash[:message] %>
  <% end %>
  <%= form_tag login_path do%>
  <div class = 'form'>
    <div>
    <%= label_tag :username%>
    <%= text_field_tag :username %>
    </div>

    <div>
    <%= label_tag :password%>
    <%= text_field_tag :password %>
    </div>
    <div>
    <%= submit_tag "Login", :class => 'form-btn' %>
    </div>
  </div>
  <% end %>

  <%= link_to "New to the site, sign up here", new_user_path %>


</div>
