<body class = "controller sessions_controller">

<div id = "login">
  <div class = 'form'>
    <% if flash[:message]%>
    <%= flash[:message] %>
    <% end %>
    <%= form_tag login_path do%>
    <div>
    <%= label_tag :username%>
    <%= text_field_tag :username %>
    </div>

    <div>
    <%= label_tag :password%>
    <%= password_field_tag :password %>
    </div>
    <div>
    <%= submit_tag "Login", :class => 'form-btn' %>
    </div>
  </div>
  <% end %>

<div class = 'link'>
  <%= link_to "New to the site, sign up here", new_user_path %>
  </div>


</div>
</body>
