
<div id = "new-user-form text-center">
  <div class="form">
    <%= form_for @user do |f| %>
    <% if @errors %>
    <ul class = "error_message">
      <% @errors.each do |error| %>
      <li >  <%= error %> </li>
      <% end %>
    </ul>
    <% end %>
    <div class = 'form-group white-text'>
      <%= f.label :username%>
      <%= f.text_field :username, :class => 'form-control', :placeholder => "Username"%>
    </div>
    <div class = 'form-group white-text'>
      <%= f.label :name%>
      <%= f.text_field :name, :class => 'form-control', :placeholder => "Name"%>
    </div>
    <div class = 'form-group white-text'>
      <%= f.label :password %>
      <%= f.text_field :password, :class => 'form-control', :placeholder => "Password", :required => 'required' %>
    </div>
    <div class = 'form-group white-text'>
      <%= f.label :country%>
      <%= f.text_field :country, :class => 'form-control', :placeholder => "Which country are you from"%>
    </div>
    <div class = 'form-group white-text'>
      <%= f.label :city%>
      <%= f.text_field :city, :class => 'form-control', :placeholder => "What city are you from"%>
    </div>
    <div class = 'form-group white-text'>
      <%= f.label :bio, "Tell us about yourself"%>
      <%= f.text_area :bio, :class => 'form-control', :placeholder => "Short description about yourself" %>
    </div>
    <div class = 'form-group white-text'>
      <%= f.label :image_url%>
      <%= f.text_field :image_url, :placeholder => "Profile pic, 'jpg' or 'png' format", :class => 'form-control'%>
    </div>

      <%= f.submit "Update account", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
