<h1>Welcome <%= @user.name %></h1>

<div id = "user-page">
  <div id = "user-profile">
    <img src= "<%= @user.image_url %>" class = 'user-profile-img'>
    <h4><%= @user.name %></h4>
    <p><%= @user.city%></p>
    <p><%= @user.bio %></p>
    <%= link_to "My Trips", "/users/#{@user.id}/trips" %>

    <%= link_to "Edit my profile", edit_user_path %>
  </div>

  <div id = "user-feed">
  <div class = 'link'>
    <%= link_to "Log New Trip", new_user_trip_path(@user)  %>
  </div>

    <% @all_trips.each do |trip|%>

    <div class = 'user-trips-feed'>
      <div class = 'user-trip-heading'>
        <%= link_to image_tag(trip.user.image_url, :class => "small-profile"), trip.user %>
        <h4><%= trip.user.name %>'s trip to <%= trip.location.city %> </h4>
      </div>

    <div class = "feed-images">
      <div>
        <%= link_to image_tag(trip.memories[-1].primary_img, :class => "big-feed-img"), user_trip_path(trip)  %>
      </div>
      <div>
        <% if trip.memories.length >= 3 %>
          <%= link_to image_tag(trip.memories[-2].primary_img, :class => "small-feed-img"), user_trip_path(trip) %>
          <%= link_to image_tag(trip.memories[1].primary_img, :class => "small-feed-img"), user_trip_path(trip) %>
        <% end %>
      </div>

    </div>

  </div>
    <% end %>


  </div>

  <div class = "add-section">

  </div>
</div>













<!--  -->
