<body class = "controller users_controller">

<div id = "user-page">
  <div id = "user-profile">
    <img src= "<%= @user.image_url %>" class = 'user-profile-img'>
    <h4 class = "dark-grey"><%= @user.name %></h4>
    <p class = "light-grey"><%= @user.city%></p>
    <p class = "light-grey"><%= @user.bio %></p>

<div>
  <% if user? %>
  <%= link_to "My trips." , "/users/#{@user.id}/trips", class: "dark-blue" %>
  <% else %>
  <%= link_to "See #{@user.name}'s trips." , "/users/#{@user.id}/trips", class: "dark-blue" %>
  <% end %>
</div>
<div>
  <% if user? %>
  <%= link_to "Edit my profile", edit_user_path %>
  <% end %>
</div>


  </div>

  <div id = "user-feed">
  <div>
    <%= button_to "Log New Trip", new_user_trip_path(@user),:method => 'get', class: "dark-blue right"  %>
  </div>

<div>
  <%= form_tag(user_path(@user), method: "get") do %>
    <%= label_tag(:q, "Search Trips By City:") %>
    <%= collection_select(:q, :location_id, Location.all, :city, :city) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

    <% @all_trips.reverse.each do |trip|%>

    <div class = 'user-trips-feed'>
      <div class = 'user-trip-heading'>
        <%= link_to image_tag(trip.user.image_url, :class => "small-profile"), trip.user %>
        <h4><%= trip.user.name.capitalize %>'s Trip To <%= trip.location.city.capitalize %> </h4>
      </div>


    <div class = "feed-images">

      <div>
        <% if trip.memories.length > 0 %>
        <%= link_to image_tag(trip.memories[0].primary_img, :class => "big-feed-img"), user_trip_path(trip.user, trip)  %>
        <% end %>
      </div>
      <div>
        <% if trip.memories.length >= 2 %>
          <%= link_to image_tag(trip.memories[1].primary_img, :class => "small-feed-img"), user_trip_path(trip) %>
          <%end %>
          <% if trip.memories.length >=3  %>
          <%= link_to image_tag(trip.memories[2].primary_img, :class => "small-feed-img"), user_trip_path(trip) %>
        <% end %>
      </div>

    </div>

  </div>
    <% end %>


  </div>

  <div class = "add-section">
    <a href="https://flatironschool.com/">
    <%= image_tag("flatiron.png", class: "flatiron_ad") %>
    <%= image_tag("flatiron-rocket.png", class: "flatiron_ad") %>
    <%= image_tag("fl-logo.png", class: "flatiron_ad flatiron") %>
    </a>


  </div>
</div>



</body>
