
<body class = "controller users_controller">

<div id = "user-page">
  <div id = "user-profile">
    <img src= "<%= @user.image_url %>" class = 'user-profile-img'>
    <h5 class = "dark-grey-faded">@<%= @user.username%></h5>
    <h4 class = "dark-grey left">Name: <%= @user.name.capitalize %></h4>
    <h4 class = "dark-grey left">City: <%= @user.city%></h4>
    <p class = "light-grey justified bio">About: <%= @user.bio %></p>

<div>
  <% if user? %>

    <%= button_to "My Trips", "/users/#{@user.id}/trips", class: "btn btn-outline-primary btn-sm", :method => 'get' %>
    <%= button_to "Edit Profile", edit_user_path(@user), class: "btn btn-outline-primary btn-sm ", :method => 'get' %>
    <%= button_to "Log New Trip", new_user_trip_path(@user),:method => 'get', class: "btn btn-outline-primary btn-sm"  %>
  <% end %>
</div>


  </div>

  <div id = "user-feed">
    <% if user?  %>


      <div>
        <%= form_tag(user_path(@user), method: "get") do %>
          <%= label_tag(:q, "Search Trips By City:") %>
          <%= collection_select(:q, :location_id, Location.all, :city, :city) %>
          <%= submit_tag("Search", class: "btn btn-primary btn-sm") %>
        <% end %>
      </div>
      <% else %>
      <h3><%= current_profile_user.name%>'s Trips</h3>
  <% end %>

<% if session[:user_id] == params[:id].to_i %>
  <% @shown_trips = @all_trips%>
  <% else %>
  <% @shown_trips = current_profiles_trips %>
<% end %>

    <% @shown_trips.reverse.each do |trip|%>

    <div class = 'user-trips-feed'>
      <div class = 'user-trip-heading'>
        <%= link_to image_tag(trip.user.image_url, :class => "small-profile"), trip.user %>

        <% if user? %>
        <h4><%= trip.user.name.titleize %>'s Trip To <%= trip.location.city.titleize %> </h4>
        <% else %>

        <h4><%= trip.location.city.titleize %> </h4>
        <% end %>
      </div>


    <div class = "feed-images">

      <div>
        <% if trip.memories.length > 0 %>
        <%= link_to image_tag(trip.memories[0].primary_img, :class => "big-feed-img"), user_trip_path(trip.user, trip)  %>
        <% end %>
      </div>
      <div>
        <% if trip.memories.length >= 2 %>
          <%= link_to image_tag(trip.memories[1].primary_img, :class => "small-feed-img"), user_trip_path(trip) %>
          <%end %>
          <% if trip.memories.length >=3  %>
          <%= link_to image_tag(trip.memories[2].primary_img, :class => "small-feed-img"), user_trip_path(trip) %>
        <% end %>
      </div>

    </div>

  </div>
    <% end %>


  </div>

  <div class = "add-section">
    <a href="https://flatironschool.com/">
    <%= image_tag("https://i.imgur.com/JesY55a.png", class: "flatiron_ad") %>
    <%= image_tag("https://i.imgur.com/k28w4l8.png", class: "flatiron_ad") %>
    <%= image_tag("https://i.imgur.com/YnAqiJR.png", class: "flatiron_ad flatiron") %>
    </a>


  </div>
</div>



</body>
