<div class = 'form'>
  <%= form_for [@user,@trip,@memory] do |f|%>
    <div>
      <%= f.label :activity %>
      <%= f.text_field :activity, :maxlength => 35, :size => 35, :placeholder => "ex. Dinner at Phils Pizza" %>
    </div>

    <div>
      <p><%= f.label :description %></p>
      <%= f.text_area :description, :rows => 20, :cols => 60 %>
    </div>

    <div>
      <%= f.label :rating %>
      <%= f.select :rating, [nil, 5,4,3,2,1]   %>
    </div>

    <div>
      <%= f.label :primary_img, "Cover Photo" %>
      <%= f.text_field :primary_img, :placeholder => " image url" %>
    </div>

    <div>
      <%= f.submit %>
    </div>



<% end %>
</div>
