<div>
  <%= @memory.activity %> <br>
  <%= image_tag(@memory.primary_img) %> <br>
  <p>User: <%= @memory.user.name %></p>
  <p>Country: <%= @memory.trip.location.country %></p>
  <p>City: <%= @memory.trip.location.city %></p>
  <p>My Rating: <%= @memory.rating %>  </p>
  <%= @memory.description %> <br>

</div>

<div>
  <h3>Comments</h3>
  <% @memory.comments.each do |comment| %>
  <div>
    <p><%= comment.content %></p>
    <p> Written by: <%= comment.user.name %></p>
  </div>

  <% end %>
</div>
<div>
 <%= link_to "Back to Trip", @memory.trip %>
 </div>
